@model MgWindManager.Models.Register

@{
ViewData["Title"] = "Register";
}

<h1>Register</h1>

@* Coś sie nie chce wyświetlać FFF *@
@if (!ViewData.ModelState.IsValid)
{
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Oops! Coś poszło nie tak.</h4>
    <p>Sprawdź poniższe informacje i popraw błędy:</p>
    <ul>
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
        <li>@error.ErrorMessage</li>
        }
    </ul>
</div>
}

<form asp-action="Register" method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control" required/>
        @Html.ValidationMessageFor(model => model.UserName)
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" required/>
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" required/>
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
