@model MgWindManager.Models.Dto.WindmillAddRequest

@{
ViewData["Title"] = "Wiatrak";
}
<h1>Formularz dodający nowy wiatrak</h1>

@Html.Partial("_AddWindmill", Model)

@* <p>GUID po zapisie: @TempData["Guid"]</p> *@

@if (TempData["Guid"] != null)
{
    <p>Nowo dodany wiatrak został zapisany. Przejdź do nowego wiatraka: <a href="@Url.Action("Windmill", "Windmill", new { guid = TempData["Guid"] })">Zobacz wiatrak</a></p>
}