@model windmillsManagement.Models.Windmill.Windmill

@{
    ViewData["Title"] = "Wiatrak";
}

<div class="text-center">
    <h1 class="display-4">Mamy nasz widok Wiatraka!</h1>
    <p>Name: @Model.Name</p>
    <p>Lat: @Model.Latitude</p>
    <p>Lon: @Model.Longitude</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>