@{
    ViewData["Title"] = "Home Page";
    var test = "test";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@test</p>
    <p>ViewBag: @ViewBag.Name</p>
    <p>ViewData: @ViewData["Nazwa2"]</p>
    <p>TempData: @TempData["NazwaTemp"]</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>