@{
ViewData["Title"] = "Home Page";
var test = "test";
}

<div class="text-center">
    <h1 class="display-4">Wyswietlamy tuse dane od windparku.</h1>
    <p>@test</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>